{%- assign company = authors.default.name | default: site.title | escape -%}
{%- assign menus = site.settings.menus.footer | default: site.data.settings.menus.footer -%}
{%- assign social = site.settings.social | default: site.data.settings.social -%}

{%- if page.footer != false -%}
  <footer id="page-footer">
    <div>
      <!-- Footer Top -->
      <div id="page-footer-top"></div>

      <!-- Footer Main -->
      {% if social or menus %}
        <div id="page-footer-main">
          {% if social %}
            <!-- Social Media -->
            <div id="social">
              <span>Let's Connect</span>
              <p>Follow us on your favorite platform</p>
              <div>
                {% include social.liquid %}
              </div>
            </div>
          {% endif %}
          {% if menus %}
            <!-- Links -->
            {%- for menu in menus -%}
              <div id="{{ menu.title | slugify }}" class="footer-menu">
                <h2>{{ menu.title }}</h2>
                <div>
                  <ul>
                    {% for item in menu.links %}
                      <li>
                        <a
                          href="{{ item.link | absolute_url }}"
                          title="{{ menu.title }}: {{ item.title }}">{{ item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      {% endif %}

      <!-- Footer Bottom: Website information -->
      <div id="page-footer-bottom">
        <div>
          <div id="copyright">
            <p>&copy; Copyright {{ "now" | date: "%Y" }}{% if company %}
                - {{ company }}{%- endif -%}
            </p>
          </div>
          <div id="disclaimer">
            <a href="https://lydde.com">
              <img 
                id="LYDDE-Logo"    
                src="{{ '/assets/lydde.png' | absolute_url }}" 
                alt="LYDDE Group Logo" 
                title="{%- if company -%}{{ company }} is {% endif %}a subsidiary of LYDDE Group">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
{%- endif -%}