{%- comment -%} 
The header is based on Bootstrap 5 Navbar component
The structure is composed of 3 parts:
- Header Top: Social Network
- Header Main: Site Menu
- Header Bottom: links
{%- endcomment -%}
{%- assign company = authors.default.name | site.title | default: 'Theme' | escape -%}
{%- assign menus = site.settings.menus.header | default: site.data.settings.menus.header -%}
{%- assign social = site.settings.social | default: site.data.settings.social -%}

{%- assign logo = site.logo | default: "/assets/logo.png" -%}
{%- for files in site.static_files -%}
  {%- if files.path == logo -%}
    {%- assign logoExist = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- if page.header != false %}
  <!-- Header -->
  <header id="page-header" {% if page.layout == "home" %}class="fixed-top"{% endif %} >
    <div>
      {%- if social %}
        <!-- Header Top: Social Network -->
        <div id="page-header-top">
          <div id="page-header-top-left">&nbsp;</div>
          <div id="page-header-top-right">
            {% include social.liquid %}
          </div>
        </div>
      {%- endif %}

      <!-- Header Main: Site Menu -->
      <nav id="page-header-main">
        <div>
          <!-- Logo -->
          <div id="logo">
            <a
              id="brand"
              href="{{ '/' | absolute_url }}"
              title="{{ company }}"
              rel="author">
              {%- if logoExist -%}
                <img src="{{ logo | absolute_url }}" alt="{{ company }}">
              {%- else -%}
                {{ company }}
              {%- endif -%}
            </a>
          </div>

          <!-- Responsive Toggle Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation menu">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navigation -->
          <div id="navbarContent">
            {% comment %} 
              Display the menu from the configuration file (site or data) if it exists
              Overwise, display the default menu based on the file structure 
            {% endcomment %}
            {%- if menus -%}
              {% for menu in menus %}
                <div
                  id="{{ menu.title | slugify }}"
                  {% if menu.position == 'left' %}
                  class="me-auto"
                  {% endif %}>
                  <ul>
                    {% for item in menu.links %}
                      <li class="nav-item">
                        <a
                          class="nav-link px-3{%- if page.url == item.link -%} active{%- endif -%}"
                          {%- if page.url == item.link -%}
                          aria-current="page"
                          {%- endif -%}
                          href="{{ item.link | absolute_url }}"
                          title="{{ item.title }}">
                          {%- if item.icon -%}
                            <i class="{{ item.icon }}"></i>
                          {%- endif -%}
                          {{ item.title | escape }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            {%- else -%}
              {% include hierachy.liquid %}
            {%- endif -%}
          </div>
        </div>
      </nav>

      <!-- Header Bottom -->
      <div id="page-header-bottom"></div>
    </div>
  </header>
{%- endif -%}
