{%- comment -%} 
    The Hero section is used to display a title, a description and a call to action.
    It can also display a background image or a video.

    TODO : include a carousel
{%- endcomment -%}

{%  assign extract = page.excerpt | default: page.content | strip_html | truncatewords: 50 %}
{%  assign description = page.description | default: extract %}

{%  assign splash = layout.splash or page.splash %}

{%-  unless page.hero == false -%}
<section id="hero" {% if splash %}class="vh-100"{% endif %}>
    <!-- Background -->
{%- if page.trailer -%}
    <video autoplay muted loop poster="{{ page.image | absolute_url }}" class="background">
        <source src="{{ page.trailer | absolute_url }}" type="video/mp4">
    </video>
{%- elsif page.image -%}
    <picture>
        <source srcset="{{ page.image | absolute_url }}">
        <img src="{{ page.image | absolute_url }}" alt="{{ page.title | escape }}" class="background">
    </picture>
{%- else -%}
    <span class="background">&nbsp;</span>
{%- endif -%}
    <!-- Content -->
    <div id="hero-content">
        <div>
            <div id="hero-information">
                <h1>{{ page.title | site.title | default: "Welcome" | escape }}</h1>
                <!-- Breadcrumbs -->
                {%- include breadcrumb.liquid -%}
                <p>{{ description }}</p>
            </div>
            {%- if page.action -%}
            <div id="hero-action">
                <a 
                    href="{{ page.action.link }}" 
                    role="button" 
                    title="{{ page.action.title }}">{{ page.action.title }}</a>
            </div>
            {%- endif -%}
        </div>
    </div>
</section>
{%- endunless -%}